<script lang="ts">
	import { page } from '$app/stores';
	import AnimatedRoute from '$lib/components/AnimatedRoute.svelte';
</script>

<nav class="flex justify-center my-6">
	<ul class="steps">
		<a href="/upload" class="step step-primary">Upload file</a>
		<a href="/upload/edit" class="step" class:step-primary={$page.route.id?.match(/edit|results/g)}
			>Select columns</a
		>
		<a href="/upload/results" class="step" class:step-primary={$page.route.id?.match(/results/g)}
			>View results</a
		>
	</ul>
</nav>

<AnimatedRoute>
	<main class="card w-4/6 bg-neutral text-neutral-content mx-auto">
		<div class="card-body items-center text-center">
			<slot />
		</div>
	</main>
</AnimatedRoute>
