<script lang="ts">
	import type { PageData } from './$types';
	import { files, fileData, headings, rows, neededColumns } from './stores';
	import Dropzone from 'svelte-file-dropzone';
	import { goto } from '$app/navigation';

	function processRawCsv(data: string) {
		const output = [];
		const rows = data.split('\n');
		for (let i = 0; i < rows.length; i++) {
			if (rows[i]) {
				const cells = rows[i].split(',');
				output.push(cells);
			}
		}
		return output;
	}

	function handleFileSelect(e: { detail: { acceptedFiles: Blob[] } }) {
		files.set(e.detail.acceptedFiles);

		for (let i = 0; i < $files.length; i++) {
			const reader = new FileReader();
			reader.onload = () => {
				const binaryStr = reader.result as string;
				fileData.set(processRawCsv(binaryStr));
				headings.set([]);
				$fileData[0].forEach((heading, index) => {
					headings.update((list) => {
						list.push({ heading: heading, index: index });
						return list;
					});
				});
				rows.set($fileData.slice(1));
			};
			reader.readAsText($files[i]);
		}

		if ($files.length > 0) {
			goto('/upload/edit');
		}
	}

	neededColumns.set([
		{ heading: 'Employee ID', index: 0 },
		{ heading: 'Employee Name', index: 1 },
		{ heading: 'Date', index: 2 },
		{ heading: 'Time In', index: 3 },
		{ heading: 'Lunch Out', index: 4 },
		{ heading: 'Lunch In', index: 5 },
		{ heading: 'Time Out', index: 6 }
	]);
</script>

<Dropzone
	on:drop={handleFileSelect}
	multiple={false}
	accept={['.csv']}
	disableDefaultStyles={true}
	containerClasses="card bg-slate-800"
>
	<div class="card-body text-center">
		<button class="btn btn-primary">Choose .csv file to upload</button>
		<p>or</p>
		<p>Drag and drop your file here</p>
	</div>
</Dropzone>
