<main class="card w-4/6 bg-neutral text-neutral-content mx-auto mt-28">
	<div class="card-body items-center text-center">
		<div class="card-body text-center">
			<p class="text-xl">Welcome to the timesheets parsing demo!</p>
			<a href="/upload" class="btn btn-primary mx-auto mt-3">Begin</a>
		</div>
	</div>
</main>
