<script lang="ts">
	import { files, headings, neededColumns, rows } from '../stores';
	import SortableList from '$lib/components/SortableList.svelte';

	interface Heading {
		heading: string;
		index: number;
	}

	if ($neededColumns.length < $headings.length) {
		const diff = $headings.length - $neededColumns.length;
		const negaDiff = diff * -1;
		for (let i = -1; i >= negaDiff; i--) {
			neededColumns.update((list) => {
				list.push({ heading: '', index: i });
				return list;
			});
		}
	}

	function sortList(e: CustomEvent) {
		neededColumns.set(e.detail);
	}
</script>

{#if $files.length > 0}
	<p class="text-primary mb-6">To identify the data we need, please drag the heading icons to the matching column:</p>
	<div class="overflow-x-auto">
		<table class="table table-sm">
			<thead>
				<SortableList list={$neededColumns} on:sort={sortList} let:item let:index>
					{#if item.heading}
					<p class="btn btn-accent btn-xs w-full">{item.heading}</p>
					{:else}
					<p class="btn btn-outline btn-xs w-full h-full">-Empty-</p>
					{/if}
				</SortableList>
				<tr>
					{#each $headings as heading}
						<th>{heading.heading}</th>
					{/each}
				</tr>
			</thead>
			<tbody>
				{#each $rows.slice(0, 5) as row}
					<tr>
						{#each row as cell}
							<td>
								{cell}
							</td>
						{/each}
					</tr>
				{/each}
			</tbody>
		</table>
		<div class="flex w-full">
			<a href="/upload/results" class="btn btn-primary mt-6 ml-auto mr-6">Done</a>
		</div>
	</div>
{:else}
	<p>No file loaded.</p>
	<a href="/upload" class="btn btn-primary mt-2">Back</a>
{/if}
