<script lang="ts">
	import { files, rows, neededColumns } from '../stores';
	import { compareAsc, differenceInMinutes, isValid, format, parse } from 'date-fns';

	interface Column {
		heading: string;
		order: number;
		index: number;
	}

	const columns: Column[] = [];

	$neededColumns.forEach((heading, index) => {
		const column: Column = {
			heading: heading.heading,
			order: heading.index,
			index: index
		};
		columns.push(column);
	});

	interface Entry {
		employeeId: string;
		employeeName: string;
		date: Date;
		timeIn: Date;
		lunchOut: Date;
		lunchIn: Date;
		timeOut: Date;
		missedLunch: boolean;
		lateLunch: boolean;
		shortLunch: boolean;
		overtime: boolean;
		inFuture: boolean;
		isFucky: boolean;
	}

	const entries: Entry[] = [];

	for (const row of $rows) {
		const employeeId = row[columns.find((element) => element.order === 0)!.index];
		const employeeName = row[columns.find((element) => element.order === 1)!.index];
		const date = parse(row[columns.find((element) => element.order === 2)!.index], 'P', new Date());
		const timeIn = parse(row[columns.find((element) => element.order === 3)!.index], 'p', date);
		const lunchOut = parse(row[columns.find((element) => element.order === 4)!.index], 'p', date);
		const lunchIn = parse(row[columns.find((element) => element.order === 5)!.index], 'p', date);
		const timeOut = parse(row[columns.find((element) => element.order === 6)!.index], 'p', date);

		const missedLunch = !isValid(lunchOut) || !isValid(lunchIn);
		const lateLunch = !missedLunch && differenceInMinutes(lunchOut, timeIn) > 5 * 60;
		const shortLunch = !missedLunch && differenceInMinutes(lunchIn, lunchOut) < 30;
		const overtime =
			differenceInMinutes(timeOut, timeIn) -
				(!missedLunch ? differenceInMinutes(lunchIn, lunchOut) : 0) >
			8 * 60;
		const inFuture = compareAsc(date, new Date()) > 0;

		const isFucky = missedLunch || lateLunch || shortLunch || overtime || inFuture;

		const entry: Entry = {
			employeeId: employeeId,
			employeeName: employeeName,
			date: date,
			timeIn: timeIn,
			lunchOut: lunchOut,
			lunchIn: lunchIn,
			timeOut: timeOut,
			missedLunch: missedLunch,
			lateLunch: lateLunch,
			shortLunch: shortLunch,
			overtime: overtime,
			inFuture: inFuture,
			isFucky: isFucky
		};

		entries.push(entry);
	}

	columns.sort((a, b) => a.order - b.order);
</script>

{#if $files.length > 0}
	<table class="table table-xs">
		<thead>
			<tr>
				{#each columns as column}
					{#if column.order >= 0}
						<th>{column.heading}</th>
					{/if}
				{/each}
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{#each entries as entry}
				<tr class:bg-yellow-900={entry.isFucky}>
					<td>{entry.employeeId}</td>
					<td>{entry.employeeName}</td>
					<td>{isValid(entry.date) ? format(entry.date, 'P') : 'Invalid Date'}</td>
					<td class:text-error={!isValid(entry.timeIn)}
						>{isValid(entry.timeIn) ? format(entry.timeIn, 'p') : 'Invalid Time'}</td
					>
					<td class:text-error={!isValid(entry.lunchOut)}
						>{isValid(entry.lunchOut) ? format(entry.lunchOut, 'p') : 'Invalid Time'}</td
					>
					<td class:text-error={!isValid(entry.lunchIn)}
						>{isValid(entry.lunchIn) ? format(entry.lunchIn, 'p') : 'Invalid Time'}</td
					>
					<td class:text-error={!isValid(entry.timeOut)}
						>{isValid(entry.timeOut) ? format(entry.timeOut, 'p') : 'Invalid Time'}</td
					>
					<td>
						{#if entry.missedLunch}<p class="text-warning">Missed Lunch</p>{/if}
						{#if entry.lateLunch}<p class="text-warning">Late Lunch</p>{/if}
						{#if entry.shortLunch}<p class="text-warning">Short Lunch</p>{/if}
						{#if entry.overtime}<p class="text-warning">Overtime</p>{/if}
						{#if entry.inFuture}<p class="text-success">In Future</p>{/if}
					</td>
				</tr>
			{/each}
		</tbody>
	</table>
{:else}
	<p>No file loaded.</p>
	<a href="/upload" class="btn btn-primary mt-2">Back</a>
{/if}
